openapi: 3.1.0
info:
  title: PointClickCare Long-Term Care EHR Assessments API
  description: PointClickCare provides EHR and care coordination APIs for long-term and post-acute care (LTPAC) facilities. APIs enable access to resident records, medication administration records, clinical assessments, care plans, and facility data for skilled nursing facilities (SNFs) and senior living communities.
  version: 2.0.0
  contact:
    name: PointClickCare Developer Support
    url: https://developer.pointclickcare.com/spa
  license:
    name: PointClickCare Terms of Service
    url: https://pointclickcare.com/legal/terms-conditions/
servers:
- url: https://api.pointclickcare.com/v2
  description: PointClickCare API
security:
- oauth2: []
tags:
- name: Assessments
  description: Clinical assessments (MDS, fall risk, etc.)
paths:
  /patients/{patientId}/assessments:
    get:
      operationId: listPatientAssessments
      summary: List patient assessments
      description: Returns clinical assessments (MDS, fall risk, skin assessment, etc.) for a resident.
      tags:
      - Assessments
      parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: type
        in: query
        description: Filter by assessment type
        schema:
          type: string
      - name: startDate
        in: query
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Assessment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Assessment'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Assessment:
      type: object
      description: A clinical assessment record
      properties:
        assessmentId:
          type: string
        patientId:
          type: string
        assessmentType:
          type: string
          description: Type code (e.g., MDS-3.0-ADMISSION, FALL-RISK, BRADEN-SKIN)
        assessmentDate:
          type: string
          format: date
        status:
          type: string
          enum:
          - DRAFT
          - COMPLETE
          - LOCKED
          - TRANSMITTED
        completedBy:
          type: string
        score:
          type: number
          format: double
          nullable: true
          description: Numeric score if applicable
        riskLevel:
          type: string
          nullable: true
          description: Risk classification if applicable
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: string
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    PatientId:
      name: patientId
      in: path
      required: true
      description: PointClickCare resident/patient identifier
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 authorization code flow via PointClickCare identity server
      flows:
        authorizationCode:
          authorizationUrl: https://login.pointclickcare.com/oauth2/authorize
          tokenUrl: https://login.pointclickcare.com/oauth2/token
          scopes:
            patient.read: Read patient demographics
            clinical.read: Read clinical data (vitals, medications, assessments)
            facility.read: Read facility information
